<div class="row mt-0 mt-lg-3">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom bgi-no-repeat bgi-no-repeat bgi-size-cover gutter-b" style="height: 330px; background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(/assets/media/bg/bg-1.jpg)">
                    <div class="card-body d-flex flex-column ">
                        <div class="card-body d-flex">
                            <div class="d-flex py-20 flex-column align-items-start flex-grow-1">
                                <div class="flex-grow-1">
                                    <a href="/berita/selain-rokok-ilegal-bea-cukai-kendari-juga-musnahkan-miras-ilegal" class="text-white font-weight-bolder font-size-h4">
                                        Selain Rokok Ilegal, Bea Cukai Kendari Juga Musnahkan Miras Ilegal Hasil Sitaan
                                    </a>
                                    <p class="text-white mt-2">
                                        <i class="far fa-user-circle text-warning"></i> AuthorsName
                                    </p>
                                </div>
                                <div class="align-items-center">
                                    <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2">
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                        <i class="fas fa-share-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-custom bgi-no-repeat bgi-no-repeat bgi-size-cover gutter-b" style="height: 330px; background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(/assets/media/bg/bg-2.jpg)">
                    <div class="card-body d-flex flex-column ">
                        <div class="card-body d-flex">
                            <div class="d-flex py-20 flex-column align-items-start flex-grow-1">
                                <div class="flex-grow-1">
                                    <a href="#" class="text-white font-weight-bolder font-size-h4">
                                        Bea Cukai Kendari Musnahkan 1.319.700 Batang Rokok Ilegal Hasil Sitaan
                                    </a>
                                    <p class="text-white mt-2">
                                        <i class="far fa-user-circle text-warning"></i> AuthorsName
                                    </p>
                                </div>
                                <div class="align-items-center">
                                    <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2">
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                        <i class="fas fa-share-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-custom bgi-no-repeat bgi-no-repeat bgi-size-cover gutter-b" style="height: 330px; background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(/assets/media/bg/bg-5.jpg)">
                    <div class="card-body d-flex flex-column ">
                        <div class="card-body d-flex">
                            <div class="d-flex py-20 flex-column align-items-start flex-grow-1">
                                <div class="flex-grow-1">
                                    <a href="#" class="text-white font-weight-bolder font-size-h4">
                                        Uji Dinamis pada 14 – 15 Desember 2023, Jembatan Teluk Kendari Akan Ditutup Sementara
                                    </a>
                                    <p class="text-white mt-2">
                                        <i class="far fa-user-circle text-warning"></i> AuthorsName
                                    </p>
                                </div>
                                <div class="align-items-center">
                                    <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2">
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                        <i class="fas fa-share-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {{!-- Trending --}}
        <div class="card card-custom gutter-b">
            <div style="height: 680px; overflow-y: auto;">
                <div class="card-header border-0 pt-7">
                    <div class="d-flex align-items-center">
                        <span class="bullet bullet-bar bg-danger align-self-stretch"></span>
                        <label class="checkbox checkbox-lg checkbox-light-success checkbox-inline flex-shrink-0 m-0 mx-4"></label>
                        <div class="d-flex flex-column flex-grow-1">
                            <h1 class="text-dark-75 text-hover-primary font-weight-boldest font-size-h1 mb-1">
                                Trending
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-1">
                    <div class="tab-content mt-5" id="myTabLIist18">
                        <div class="tab-pane fade show active" id="kt_tab_pane_news_month" role="tabpanel" aria-labelledby="kt_tab_pane_news_month">
                            <div class="form">
                                <div class="d-flex align-items-top pb-9">
                                    <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
                                        <div class="symbol-label" style="background-image: url('/assets/media/stock-600x400/img-20.jpg')"></div>
                                    </div>
                                    <div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-50 font-weight-bold font-size-lg text-hover-primary mb-1">
                                            Developer Sultra Terima Penghargaan Silver Winner Rumah Subsidi dari FIABCI-REI
                                        </a>
                                        <p class="mt-2 text-dark-75 font-size-sm">
                                            <i class="far fa-user-circle text-warning"></i> AuthorsName
                                        </p>
                                        <div class="align-items-center">
                                            <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2">
                                                <i class="far fa-heart "></i>
                                            </a>
                                            <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                                <i class="fas fa-share-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-solid mb-4"></div>
                                <div class="d-flex align-items-top pb-9">
                                    <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
                                        <div class="symbol-label" style="background-image: url('/assets/media/stock-600x400/img-19.jpg')"></div>
                                    </div>
                                    <div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-50 font-weight-bold font-size-lg text-hover-primary mb-1">
                                            Developer Sultra Terima Penghargaan Silver Winner Rumah Subsidi dari FIABCI-REI
                                        </a>
                                        <p class="mt-2 text-dark-75 font-size-sm">
                                            <i class="far fa-user-circle text-warning"></i> AuthorsName
                                        </p>
                                        <div class="align-items-center">
                                            <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2">
                                                <i class="far fa-heart "></i>
                                            </a>
                                            <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                                <i class="fas fa-share-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-solid mb-4"></div>
                                <div class="d-flex align-items-top pb-9">
                                    <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
                                        <div class="symbol-label" style="background-image: url('/assets/media/stock-600x400/img-24.jpg')"></div>
                                    </div>
                                    <div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-50 font-weight-bold font-size-lg text-hover-primary mb-1">
                                            Developer Sultra Terima Penghargaan Silver Winner Rumah Subsidi dari FIABCI-REI
                                        </a>
                                        <p class="mt-2 text-dark-75 font-size-sm">
                                            <i class="far fa-user-circle text-warning"></i> AuthorsName
                                        </p>
                                        <div class="align-items-center">
                                            <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2">
                                                <i class="far fa-heart "></i>
                                            </a>
                                            <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                                <i class="fas fa-share-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-solid mb-4"></div>
                                <div class="d-flex align-items-top pb-9">
                                    <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
                                        <div class="symbol-label" style="background-image: url('/assets/media/stock-600x400/img-21.jpg')"></div>
                                    </div>
                                    <div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-50 font-weight-bold font-size-lg text-hover-primary mb-1">
                                            Developer Sultra Terima Penghargaan Silver Winner Rumah Subsidi dari FIABCI-REI
                                        </a>
                                        <p class="mt-2 text-dark-75 font-size-sm">
                                            <i class="far fa-user-circle text-warning"></i> AuthorsName
                                        </p>
                                        <div class="align-items-center">
                                            <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2">
                                                <i class="far fa-heart "></i>
                                            </a>
                                            <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                                <i class="fas fa-share-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-solid mb-4"></div>
                                <div class="d-flex align-items-top pb-9">
                                    <button class="btn btn-primary btn-block"> Lainnya</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
