<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8"/>
        <title>{{ appName }}</title>
        <meta name="description" content="{{ appDescription }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="canonical" href="https://keenthemes.com/metronic"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
        <!-- Slick CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/plugins/custom/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/plugins/custom/slick/slick-theme.css"/>

        <link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.2.9" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/global/plugins.bundle.css?v=7.2.9" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.2.9" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/style.bundle.css?v=7.2.9" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="/assets/media/logos/favicon.ico"/>

        <style>
            .slick-prev:before {
                color: red !important;
            }
            .slick-next:before {
                color: red !important;
            }
        </style>

    </head>

    <body  id="kt_body"  class="header-fixed header-mobile-fixed page-loading">