{{#> app}}
    {{#*inline "content"}}
    
        <div class="d-flex flex-column-fluid">
            <div class=" container ">

                {{> features/home/partials/trending}}
                {{> features/home/partials/entertaintment}}
                {{> features/home/partials/bisnis}}
                {{> features/home/partials/travel}}
                {{> features/home/partials/random}}
                
            </div>
        </div>

    {{/inline}}
{{/app}}