{{#> admin}}
    {{#*inline "content"}}
        <div class="d-flex flex-column-fluid">
            <div class=" container ">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card card-custom bg-dark card-stretch gutter-b">
                            <div class="card-body">
                                <i class="fa fa-users icon-xl text-white"></i>
                                <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 text-hover-primary d-block">{{ data.number.user }}</span>
                                <span class="font-weight-bold text-white  font-size-sm">Users</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-custom bg-dark card-stretch gutter-b">
                            <div class="card-body">
                                <i class="fa fa-users icon-xl text-white"></i>
                                <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 text-hover-primary d-block">{{ data.number.media }}</span>
                                <span class="font-weight-bold text-white  font-size-sm">Media</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-custom bg-dark card-stretch gutter-b">
                            <div class="card-body">
                                <i class="fa fa-users icon-xl text-white"></i>
                                <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 text-hover-primary d-block">{{ data.number.journalist }}</span>
                                <span class="font-weight-bold text-white  font-size-sm">Jurnalis</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-custom bg-dark card-stretch gutter-b">
                            <div class="card-body">
                                <i class="fa fa-users icon-xl text-white"></i>
                                <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 text-hover-primary d-block">23,508</span>
                                <span class="font-weight-bold text-white  font-size-sm">News</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
{{/admin}}