<div class="row mt-12">
    <div class="col-md-12">
        <div class="d-flex align-items-center">
            <span class="bullet bullet-bar bg-danger align-self-stretch"></span>
            <label class="checkbox checkbox-lg checkbox-light-danger checkbox-inline flex-shrink-0 m-0 mx-4">
                <span class="font-weight-bolder label label-xl label-light-danger label-inline px-3 py-5 min-w-45px">
                    <i class="fas fa-bullhorn text-danger"></i>
                </span>
            </label>
            <div class="d-flex flex-column flex-grow-1">
                <h1 class="text-dark-75 text-hover-danger font-weight-boldest font-size-h1 mb-1">
                    Bisnis
                </h1>
            </div>
            <div class="d-flex flex-column flex-grow-1 align-items-end">
                <a href="/read/bisnis" class="text-dark-50 font-weight-boldest font-size-h5">Lihat lainnya <i class="fas fa-arrow-circle-right "></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-3">
        {{> features/home/components/rectangle_vertical_image 
            news=data.articles.trendings.items.[6]
            cardColor="rgba(245, 246, 252, 0.52), rgba(218, 13, 13, 0.73)"
        }}
    </div>
    <div class="col-md-9">
        <div style="height: 680px; overflow-y: auto;">
            <div class="row">
                {{#each data.articles.trendings.items}}
                <div class="col-md-4">
                    {{> features/home/components/card_single_vertical 
                        cardHeight="400px"
                    }}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>