<div class="row mt-12">
    <div class="col-md-12">
        <div class="d-flex align-items-center">
            <span class="bullet bullet-bar bg-success align-self-stretch"></span>
            <label class="checkbox checkbox-lg checkbox-light-success checkbox-inline flex-shrink-0 m-0 mx-4">
                <span class="font-weight-bolder label label-xl label-light-success label-inline px-3 py-5 min-w-45px">
                    <i class="fas fa-bullhorn text-primary"></i>
                </span>
            </label>
            <div class="d-flex flex-column flex-grow-1">
                <h1 class="text-dark-75 text-hover-primary font-weight-boldest font-size-h1 mb-1">
                    Entertainment
                </h1>
            </div>
            <div class="d-flex flex-column flex-grow-1 align-items-end">
                <a href="/page/entertainment" class="font-weight-boldest font-size-h5">Lihat lainnya <i class="fas fa-arrow-circle-right "></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-3">
        {{> features/home/components/rectangle_vertical_image 
            news=data.articles.entertainment.items.[5].article
            cardColor="rgba(255, 255, 255, 0.52), rgba(26, 194, 62, 0.73)"
        }}
    </div>
    <div class="col-md-9">
        {{> features/home/components/card_list 
            news=data.articles.entertainment.items
            cardTitle="Terbaru" 
            cardLink="/page/entertainment"
            cardHeight="680px"
        }}
    </div>
</div>