<div class="row mt-12">
    <div class="col-md-12">
        <div class="d-flex align-items-center">
            <span class="bullet bullet-bar bg-primary align-self-stretch"></span>
            <label class="checkbox checkbox-lg checkbox-light-primary checkbox-inline flex-shrink-0 m-0 mx-4">
                <span class="font-weight-bolder label label-xl label-light-primary label-inline px-3 py-5 min-w-45px">
                    <i class="fas fa-bullhorn text-primary"></i>
                </span>
            </label>
            <div class="d-flex flex-column flex-grow-1">
                <h1 class="text-dark-75 text-hover-primary font-weight-boldest font-size-h1 mb-1">
                    Random
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="row mt-6">
    <div class="col-md-6">
        {{> features/home/components/card_list 
            news=data.articles.crime.items
            cardTitle="Crime" 
            cardLink="/page/crime"
            cardHeight="680px"
        }}
    </div>
    <div class="col-md-6">
        {{> features/home/components/card_list 
            news=data.articles.education.items
            cardTitle="Education" 
            cardLink="/page/education"
            cardHeight="680px"
        }}
    </div>
    <div class="col-md-6">
        {{> features/home/components/card_list 
            news=data.articles.sport.items
            cardTitle="Sports" 
            cardLink="/page/sports"
            cardHeight="680px"
        }}
    </div>
    <div class="col-md-6">
        {{> features/home/components/card_list 
            news=data.articles.government.items
            cardTitle="Pemerintah" 
            cardLink="/page/pemerintah"
            cardHeight="680px"
        }}
    </div>
</div>