<div class="row mt-12">
    <div class="col-md-12">
        <div class="d-flex align-items-center">
            <span class="bullet bullet-bar bg-info align-self-stretch"></span>
            <label class="checkbox checkbox-lg checkbox-light-info checkbox-inline flex-shrink-0 m-0 mx-4">
                <span class="font-weight-bolder label label-xl label-light-info label-inline px-3 py-5 min-w-45px">
                    <i class="fas fa-bullhorn text-info"></i>
                </span>
            </label>
            <div class="d-flex flex-column flex-grow-1">
                <h1 class="text-dark-75 text-hover-info font-weight-boldest font-size-h1 mb-1">
                    Travel
                </h1>
            </div>
            <div class="d-flex flex-column flex-grow-1 align-items-end">
                <a href="/read/travel" class="text-dark-50 font-weight-boldest font-size-h5">Lihat lainnya <i class="fas fa-arrow-circle-right "></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="row">
            {{#each data.articles.travel.items}}
            <div class="col-md-4">
                {{> features/home/components/card_single_horizontal
                    cardHeight="280px"
                }}
            </div>
            {{/each}}
            
        </div>
    </div>
</div>